<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title></title>

 <!-- CSS -->
 <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
 <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
 <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
 <link rel="stylesheet" href="css/style.css">
 <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">


</head>

<body>


  <nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="navbar-page">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
    <a class="navbar-brand" href="#" style="font-family: 'Oxygen', sans-serif; color: white;">Ullganization</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="about.html" style="font-family: 'Oxygen', sans-serif; color: white; margin-left:100px;" >About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/ozzrocker95/proyecto-sytw-1718" style="font-family: 'Oxygen', sans-serif; color: white; margin-left:100px;">Repositorio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/client" style="font-family: 'Oxygen', sans-serif; color: white; margin-left:100px;">Recibidos</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" style="font-family: 'Oxygen', sans-serif; color: white; margin-right:100px;"><%- user %></a>
        </li>
        <li class="navbar-item">
          <a class="nav-link" href="/logout" style="font-family: 'Oxygen', sans-serif; color: white; margin-right:100px;">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container" id="">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-md-1" id="titulo_timeline" style="background-color:rgb(58, 58, 58);font-family: 'Oxygen', sans-serif; border-radius:10px 10px 0% 0%;">
        <label for="crear_evento" >TIMELINE DE EVENTOS DEL USUARIO</label>
        <br>
        <a data-toggle="modal" href="#CrearEvento" class="btn btn-success" id="crear-evento-boton" data-backdrop="static" data-keyboard="false"><i class="fa fa-plus" aria-hidden="true"></i> Crear Evento</a>
      </div>
    </div>
  </div>

  <div class="container" id="">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-md-1" id="global">

        <section id="cd-timeline" class="cd-container" id="mensaje">




            <% for(var i=0; i < evento.length ; i++ ) { %>
              <% if(evento.length > 0) { %>
          <div class="cd-timeline-block" name='cd-timeline-block' id="cd-timeline-block" >
            <input type="hidden" name="numero_eventos[]" value="">
            <form id= "<%='delete'+i%>"action = "/eliminar" method = "post" >
              <input name = "idUser" value = "<%=evento[i].timeline.id%>" HIDDEN/>
            </form>
            <!-- cd-timeline-img -->
            <div class="cd-timeline-img cd-picture">
              <strong>
                <span name="fecha_fin_evento_dia[]"style="font-family: 'Oxygen', sans-serif; color: black;"><%=evento[i].timeline.ff.getDate()%></span>
                </br>
                <div name="fecha_fin_evento_mes[]" style="font-family: 'Oxygen', sans-serif; color: black;"><%=Fechas.Mes(evento[i].timeline.ff.getMonth())%></div>
              </strong>
            </div>
            <!-- cd-timeline-img -->

            <!-- cd-timeline-content -->
            <div class="cd-timeline-content ">
              <h2 name="titulos_eventos[]" style="font-family: 'Oxygen', sans-serif; color: black;"><%=evento[i].timeline.titulo%></h2>
              <span name="fechas_creacion_eventos[]"style="font-family: 'Oxygen', sans-serif; color: black;"><%=evento[i].timeline.fi.getDate()+"-"+(evento[i].timeline.fi.getMonth()+1)+"-"+evento[i].timeline.fi.getFullYear()%></span>
              <br></br>
              <h6 name="creadorEvento[]" style="font-family: 'Oxygen', sans-serif; color: black;">Por: <%=evento[i].timeline.nombreEmisor%></h6>
              <p name="descripcion_eventos[]" style="font-family: 'Oxygen', sans-serif; color: black;"><%=evento[i].timeline.contenido%></p>
              <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="<%='#EditEvento'+i%>">
                <i class="fa fa-wrench" aria-hidden="true"> </i>
              </button>

              <button type="submit" form="<%='delete'+i%>" class="btn btn-danger btn-sm" action data-toggle="modal">
              <i class="fa fa-trash" aria-hidden="true"></i>
              </buton>

            </div>
            <!-- cd-timeline-content -->
          </div>

        <%} } %>


          <!-- cd-timeline-block -->


        </section>
        <!-- cd-timeline -->
      </div>
    </div>
  </div>

  <!--- MODAL AÑADIR NUEVO EVENTO --->
    <div class="modal fade" id="CrearEvento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title">Nuevo Evento</h2></br>
          </div>
          <div class="modal-body">
            <form role="form" method="post" action ="/profesor/evento">
              <div class="row">
                <div class="form-group col-md-4">
                  <label for="Destino">Añadir evento a</label>
                  <input type="text" class="form-control" name="destino_evento" value="" placeholder= "Destino"required>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-4">
                  <label for="fecha">Fecha Inicio</label>
                  <input type="date" class="form-control" name="fecha_inicio" value="" required>
                </div>
                <div class="form-group col-md-4">
                  <label for="fecha">Fecha Fin</label>
                  <input type="date" class="form-control" name="fecha_fin" value="" required>
                </div>
                <div class="form-group col-md-4">
                  <label for="titulo_evento">Título</label>
                  <input type="text" class="form-control" name="titulo_evento" value="" placeholder= "Título" required>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label for="descripcion_evento">Descripción</label>
                  <textarea type="text" class="form-control" name="descripcion_evento" value="" placeholder= "Descripción" rows="4"></textarea>
                </div>
              </div>
              <br>
              <button type="submit" class="btn btn-primary" >
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Añadir Evento
              </button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                <i class="fa fa-times" aria-hidden="true"></i> Cerrar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--- MODAL EDITAR EVENTO --->
        <% if(evento.length > 0) {  %>
    <% for(var i=0; i<evento.length ; i++ ) { %>

      <div class="modal fade" id="<%='EditEvento'+i%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h2 class="modal-title">Editar Evento</h2></br>
            </div>
            <div class="modal-body">
              <form role="form" method="post" action="/Edit">
                <div class="row">
                  <div class="form-group col-md-4">
                    <label for="fecha">Fecha Inicio</label>

                    <input type="date" class="form-control" name="fecha_inicio" value="<%= Fechas.Fecha( evento[i].timeline.fi )%>" >
                  </div>
                  <div class="form-group col-md-4">
                    <label for="fecha">Fecha Fin</label>
                    <input type="date" class="form-control" name="fecha_fin" value="<%= Fechas.Fecha( evento[i].timeline.ff )%>" >
                  </div>
                  <input name = "idUser" value = "<%=evento[i].timeline.id%>" HIDDEN/>
                  <div class="form-group col-md-4">
                    <label for="titulo_evento">Título</label>
                    <input type="text" class="form-control" name="titulo_evento" value="<%=evento[i].timeline.titulo%>">
                  </div>

                </div>
                <div class="row">
                  <div class="form-group col-md-12">
                    <label for="descripcion_evento">Descripción</label>
                    <textarea type="text" class="form-control" name="descripcion_evento"value="" rows="4"><%=evento[i].timeline.contenido%></textarea>
                  </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i> Editar Evento
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                  <i class="fa fa-times" aria-hidden="true"></i> Cerrar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <%} }%>
 <!-- Javascript -->

 <footer class="mt-4">
  <div class="container-fluid py-2">
    <div class="row">
      <div class="footer-col col-md-4">
        <img src="img/ull-icon.png" style="width:200px">
      </div>
      <div class="footer-col col-md-6">
        <ul class="list-inline ullganization-text2" style="margin-left:40%;">
          <li class="list-inline-item"style="margin-left:10%;">Berkan</li>
          <li class="list-inline-item"style="margin-left:10%;">Omar</li>
          <li class="list-inline-item"style="margin-left:10%;">Darwin</li>
          <li class="list-inline-item"style="margin-left:10%;">Carlos</li>
        </ul>
      </div>
    </div>
    </div>
</footer>

 <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.1/js/tether.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
 <script src="js/ullganizate.js"/>

</body>

</html>
